body
	{
	padding: 0px 0px 0px 26px;
	background: #FFFFFF; 
	color: #000000;
	font-family: Geneva CY, Helvetica CY, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 85%;
	}

div
	{
	width: 90%;
	border: 2px solid #999999;
	padding: 4px 8px;
	background: #cccccc;
	}
	
h1, h2, h3, h4
	{
	font-family: Geneva CY, Helvetica CY, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin-left: -26px;
	}
	
h1
	{
	font-size: 250%;
	margin-top: .5em;
	margin-bottom: .5em; 
	}
	
h2
	{
	font-size: 200%;
	margin-top: 1em;
	margin-bottom: .6em; 
	}
	
h3
	{
	font-size: 150%;
	margin-top: 1em;
	margin-bottom: .6em;
	}
	
h4
	{
	font-size: 125%;
	margin-top: 1em;
	margin-bottom: .6em; 
	}

ul p, ol p, dl p
	{
	margin-left: 0em;
	}

p
	{
	margin-top: .6em;
	margin-bottom: .6em;
	}

dl
	{
	margin-top: 0em; 
	}

dd
	{
	margin-bottom: 0em;  
	margin-left: 1.9em; 
	}

dt
	{
	margin-top: .6em; 
	}

ul, ol
	{
	margin-top: .6em; 	
	margin-bottom: 0em;
	}
	
ol
	{
	margin-left: 3.6em; 
	}	
	
ul
	{
	list-style-type: disc; 
	margin-left: 1.9em; 
	}

li
	{
	margin-bottom: .6em;
	font-size: 90%;
	}

ul ol, ol ol
	{
	list-style-type: lower-alpha;
	}

pre
	{
	margin-top: .6em;
	margin-bottom: .6em; 
	}

pre,code
	{
	font: 100% Courier New, Courier, mono; 
	color: #660000;
	}

table
	{
	width: 100%;
	background: #999999;
	margin-top: .6em;
	margin-bottom: .3em;
	}
		
th
	{ 
	padding: 4px 8px;
	background: #cccccc;
	text-align: center;
	font-size: 70%;
	vertical-align: bottom;
	}
		
td
	{ 
	padding: 4px 8px;
	background: #ffffff;
	vertical-align: top;
	font-size: 70%;
	}

blockquote
	{
	margin-left: 3.8em;
	margin-right: 3.8em;
	margin-top: .6em;
	margin-bottom: .6em;
	}

sup
	{
	text-decoration: none;
	font-size: smaller; 
	}

a:link
	{
	color: #0066ff;
	}
	
a:visited
	{
	color: #996600; 
	}
	
a:hover
	{
	color: #cc9900;
	}
	

	

	

	
